
.input-usuario{
  width: 80px;
  height: 33px;
  background: #C4C4C4;
  border-radius: 50px;;
  border: unset;
  font-size: 16px;
  margin-left: 5px;
  
}

.input-mensagem{
  width: 35vw;
  height: 33px;
  background: #C4C4C4;
  border-radius: 43px;
  border: unset;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 16px;
  
    
}
.input-mensagem:focus{
  border: unset;
}
.input-usuario:focus{
  border: transparent;
}

.botao-input {
  position: fixed;
  bottom: 0;
  
}



