/* .input-usuario {
  width: 8vw;
}
.input-mensagem {
  width: 35vw;
} */



.input-usuario{
    width: 8vw;
    
    
    /* border: 4px red solid; */
}
.input-mensagem{
    width: 35vw;
    
}
    /* border: 4px blue solid; */


.botao-input {
  position: fixed;
  bottom: 0;
}
p {
  padding-bottom: 20px;

}
